version: "3.9"
name: erp-ecommerce-sovereign

services:
  yugabytedb:
    image: yugabytedb/yugabyte:2024.1.3.0-b105
    command: ["bin/yugabyted", "start", "--daemon=false"]
    ports:
      - "5433:5433"
      - "7000:7000"
      - "9000:9000"

  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:latest
    command: ["--cache_mode=true", "--maxmemory=2gb"]
    ports:
      - "6379:6379"

  redpanda:
    image: redpandadata/redpanda:v24.3.1
    command:
      - redpanda
      - start
      - --smp
      - "2"
      - --memory
      - "2G"
      - --overprovisioned
      - --set
      - cloud_storage_enabled=true
      - --set
      - cloud_storage_access_key=minioadmin
      - --set
      - cloud_storage_secret_key=minioadmin
      - --set
      - cloud_storage_region=local
      - --set
      - cloud_storage_bucket=redpanda-tiered-storage
      - --set
      - cloud_storage_api_endpoint=http://rustfs:9100
      - --set
      - cloud_storage_disable_tls=true
    ports:
      - "9092:9092"
      - "9644:9644"
      - "8081:8081"
    depends_on:
      - rustfs

  redpanda-connect:
    image: redpandadata/connect:4.32.2
    ports:
      - "4195:4195"
    depends_on:
      - redpanda
    environment:
      - CONNECT_BROKERS=redpanda:9092

  redpanda-console:
    image: redpandadata/console:v2.7.0
    ports:
      - "8080:8080"
    depends_on:
      - redpanda
    environment:
      - KAFKA_BROKERS=redpanda:9092
      - REDPANDA_ADMINAPI_URLS=http://redpanda:9644

  rustfs:
    image: quay.io/rustfs/rustfs:latest
    command: ["server", "/data", "--console-address", ":9101"]
    ports:
      - "9100:9000"
      - "9101:9101"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin

  centrifugo:
    image: centrifugo/centrifugo:v5
    ports:
      - "8000:8000"
